/* {*} is an universal (it apply the style the  hold Project ) */

/* {
display: flex;
align-items: center;
justify-content: center;
}  is use for REsponsive for website Abd Align the Item in center */
* {
  border: none;
}


body {
    height: 97.5vh;
    display: flex;
    justify-content: center;
    align-items: center;  
    background-color: rgba(84, 187, 216, 0.394); 
    color: white;
}
.container {
  display: flex;
  flex-direction: column;
}
.first_container {
  display: inline-block;
  margin: 20px;
}

/* input style */
input {
  background-color: #313949;
  color: white;
  box-sizing: border-box;
  border: 1px solid #313949;
  box-shadow: inset -5px -5px 10px rgba(64, 75, 95, 0.25), inset 5px 5px 10px #2C3341;
  box-shadow: -5px -5px 10px rgba(64, 75, 95, 0.25), 5px 5px 10px #2C3341;
  width: 20vw;
  padding: 16px;
  font-size: 16px;
}

input:nth-child(1){
  border-radius: 12px 0 0 12px;
}

input:nth-child(3){
  border-radius: 0 12px 12px 0;
}

/* dropdown content */
.dropbtn {
  background-color: #313949;
  color: white;
  padding: 16px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  box-shadow: -5px -5px 10px rgba(64, 75, 95, 0.25), 5px 5px 10px #2C3341;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #313949;
  color: white;
  min-width: 42px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 5px;
}

.dropdown-content p {
  color: white;
  padding: 12px 12px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* The :hover selector is used to select elements when you mouse over them. */
.dropdown-content p:hover {background-color: rgb(0, 0, 0);}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.second_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.equal {
  background-color: #313949;
  padding: 21px;
  font-size: 21px;
  border-radius: 50%;
  color: white;
  margin: 20px;
  cursor: pointer;
  box-shadow: -5px -5px 10px rgba(64, 75, 95, 0.25), 5px 5px 10px #2C3341;
}

.value {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #313949;
  border: 1px solid #313949;
  box-shadow: inset -5px -5px 10px rgba(64, 75, 95, 0.25), inset 5px 5px 10px #2C3341;
  width: auto;
  min-width: 25vw;
  height: 16px;
  padding: 20px;
  font-size: 16px;
  border-radius: 12px;
  color: white;
  box-shadow: -5px -5px 10px rgba(64, 75, 95, 0.25), 5px 5px 10px #2C3341;
}
/* @media only screen and (max-width:518px) is use for Responsive website for Mobile and Tablet   */
@media only screen and (max-width:518px) {
  .first_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    gap: 15px;
  }
  .second_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  input:nth-child(1){
    border-radius: 12px;
  }
  
  input:nth-child(3){
    border-radius: 12px;
  }
  input {
    width: 50vw;
  }

}

